/* add styles here */

body {
  font:1em Helvetica, sans-serif;
  padding:4px;
}

h1 {
  margin-top:0;
}

#account {
  float:right;
}

/*
 * Couch Makimono
 */

#masthead{
	height: 52px;
	border-width: 10px;
	-webkit-border-image: url(../img/bar0.png) 10;
	-moz-border-image: url(../img/bar0.png) 10;
	border-image: url(../img/bar0.png) 10;
	margin: 25px 0 0;
	position: relative;
	z-index: 1000;
}

#logo {
	display: block;
	height: 51px;
	background: url(../img/draft0-1-colored0.png) no-repeat;
	text-indent: +60px;
	overflow: hidden;
	margin-top: 3px;
	margin-left: 10px;
}

#sitetitle {
	font-size : 23px;
}

#navigator {
	/* border:2px solid #edd;
	background:#fee; */
	padding:1px;
	height: 20px;
	vertical-align: middle;	
	font-size : 10px;
	text-align: center;
}

#itembox {
	border:2px solid #dde;
	background:8px;
	padding:1px;
	width:20%;
	float:left;
}
#indextab {
	border:2px solid #ddf;
	padding:1px;
	width:79%;
	float:right;
}
#edittab {
	padding:1px;
	width:79%;
	float:right;	
}

.markItUp .markItUpHeader {
	background-color: #fff;
}
.markItUp {
	width:800px;	
}

form {
  padding:4px;
  margin:6px;
  background-color:#ddd;  
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#items ul {
  list-style: none;
}

p.sidetitle {
	border-style: none none double;
	border-color: #eef;
}

.message {
	font-weight: bold;
}
.error {
	color: red;
}

input {
	width: 300px;
}