<!DOCTYPE html>
<html>
  <head>
    <title>{{title}} - {{site_title}}</title>
    <link rel="stylesheet" href="../style/main.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="../markitup/skins/simple/style.css" />
	<link rel="stylesheet" type="text/css" href="../markitup/sets/default/style.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/blitzer/jquery-ui.css" />
	<script src="../script/loader.js"></script>
	<script src="../script/makimono.js"></script>
  </head>
  <body>
  <div id="topbar"></div>
  <div id="masthead">
    <div id="account"></div>
      <div id="sitetitle">
	    <div id="logo">{{site_title}}</div>
      </div>
    </div>
    <div id="profile"></div>
    <div id="navigator"></div>
