{{>header}}
	<div id="itembox"></div>
	<div id="edittab"></div>
  </body>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      $("#account").evently("account", app);
	  $("#profile").evently("profile", app);
      $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
	  
	  $("#itembox").evently("itembox", app);
	  $("#navigator").evently("navigator", app);
	  $("#edittab").evently("edittab", app);
	  $.evently.connect("#itembox" , "#edittab" , ["addtab", "editin", "newdoc"]);
	  $.evently.connect("#edittab" , "#itembox" , ["inproject"]);
	  $.evently.connect("#edittab" , "#navigator", ["navimessage"]);
    });
  </script>
{{>footer}}
