{{>header}}
	<div id="itembox"></div>
	<div id="indextab"></div>
	<div id="editbox"></div>
  </body>
  <script src="../script/makimono.js"></script>
  <script type="text/javascript" charset="utf-8">
    $.couch.app(function(app) {
      $("#account").evently("account", app);
	  $("#profile").evently("profile", app);
      $.evently.connect("#account","#profile", ["loggedIn","loggedOut"]);
	  
	  $$("#editbox").title = "{{title}}";
	  $("#itembox").evently("itembox" , app);
	  $("#editbox").evently("editbox", app);
	  $("#indextab").evently("indextab" , app);
      $.evently.connect("#itembox" , "#editbox" , ["readitem"]); 
	  $.evently.connect("#itembox" , "#indextab", ["addtab"]);
	  $.evently.connect("#indextab", "#editbox" , ["readitem"]);
    });
  </script>
</html>
